<!DOCTYPE html>
<html>
<head>
  <title>Game Page</title>
  <link rel="stylesheet" href="style.css"> <!-- External CSS file for styling -->
  <style></style>
</head>
<body>
  <div class="scoreboard-container">
    <h1>Global High Scores</h1>
    <table>
      <tr>
        <th>Player Name</th>
        <th>Score</th>
      </tr>
      <tr>
      </tr>
      <!-- Add more rows for additional players -->
    </table>
	  <h1>Your High Scores</h1>
    <table>
      <tr>
        <th>Score</th>
      </tr>
    </table>
  </div>
</body>
</html>

